@import "../../component/sass/variables";
@import "../../component/sass/typography";
@import "../../component/sass/mixins";
@import "../../component/sass/animations";


.tablebox-box {
    color: $color-grey-dark-3;
    width: 20rem;
    height: 10rem;
    padding: 1rem;
    font-size: 1rem;
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-light-1, 0.2),
      rgba($color-grey-light-2, 0.2));

      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0% 10%, 10% 0%, 100% 0%, 100% 70%, 70% 100%, 0 100%);
        clip-path: polygon(0% 10%, 10% 0%, 100% 0%, 100% 70%, 70% 100%, 0 100%);
        height: 10rem;
      }
}