@import "../../component/sass/main.scss";


.tablebox-box {



    color:$color-primary-dark;
    width: 20rem;
    padding: 2rem 1rem 0 1rem;
    font-size: 1.2rem;
    position: absolute;
    top: 10%;
    left: 84%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-light-1, 0.2),
      rgba($color-grey-light-2, 0.2));

      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0% 10%, 10% 0%, 100% 0%, 100% 70%, 70% 100%, 0 100%);
        clip-path: polygon(0% 10%, 10% 0%, 100% 0%, 100% 70%, 70% 100%, 0 100%);
        height: 10rem;
      }
}