@import "../../component/sass/main.scss";

.cardMargin{
  margin: 1rem;
  }

    .buttons-container{
      margin: 1rem;
    }

    .button-filter{
      &,
      &:link,
      &:visited {
        margin: 1rem;
          text-transform: uppercase;
          text-decoration: none;
          padding: 1.5rem 3rem;
          display: inline-block;
          // color: $color-grey-dark-3;
          border: 1px solid $color-secondary-dark;
    
          @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
              -webkit-clip-path: polygon(0% 15%, 15% 0%, 100% 0%, 100% 85%, 85% 100%, 0 100%);
              clip-path: polygon(0% 15%, 15% 0%, 100% 0%, 100% 85%, 85% 100%, 0 100%);
          }

          transition: all .2s;
          position: relative;
          font-size: $default-font-size;
  
          //Change for the <button> element
        //   border: none;
          cursor: pointer;
      }
      
      &:active,
      &:focus {
          outline: none;
          // transform: translateY(-1px);
          box-shadow: 0 .5rem 1rem rgba($color-black,.2);
          background-color: $color-secondary-light;
      }
  
      &--color {
        &:hover {
          color: $color-tertiary-dark;
          box-shadow: 0 1rem 2rem rgba($color-black,.4);
          
      }
  
          &::after {
              background-color: $color-secondary-dark;
          }
      }
      

    }