@import './animations';
@import './grid';
@import './mixins';
@import './typography';
@import './utilities';
@import './variables';


@import './component-styles/footer.styles.scss';
@import './component-styles/header.styles.scss';
@import './component-styles/left-area.styles.scss';
@import './component-styles/resume-skills.styles.scss';
@import './component-styles/table-row.styles.scss';
@import './component-styles/card-component.styles.scss';
@import './component-styles/skill-card.styles.scss';
@import './component-styles/skills-list.styles.scss';
@import './component-styles/scroll.styles.scss';
@import './component-styles/spring-card.scss';


@import './pages-styles/contact-page.styles.scss';
@import './pages-styles/resume-page.styles.scss';
@import './pages-styles/projects-page.styles.scss';
@import './pages-styles/about-page.styles.scss';



* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: $color-grey-dark-2;
    background-color: $color-grey-light-1;
    min-height: 100vh;
    margin-top: 7rem;
}