li{
  list-style: none;
}

.header_nav {
  height: 7rem;
  width: 100%;
  position: fixed;
  top:0;
  border-bottom: 3px solid $color-secondary-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 1),
    rgba($color-primary-dark, 1));

@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 90%, 60% 100%, 0 100%);
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 90%, 60% 100%, 0 100%);
}
  @include respond(phone) {
    clip-path:none;
  }
}

.nav {
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  margin: 0;

  &__item {
      position: relative;
      margin-right: .5rem;

      &:last-child {
        margin-right: 2rem;
      }
  }

  &__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $color-secondary-dark;
      transform: scaleY(0);
      transition: transform .2s,
      width .4s cubic-bezier(1,0,0,1) .2s,
      background-color .1s;
  }

  &__item:hover::before,
  &__item--active::before {
      transform: scaleY(1);
      width: 100%;
  }

  &__item:active::before {
      background-color: $color-secondary-light;
  }

  &__link:link,
  &__link:visited {
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.4rem 3rem;
      position: relative;
      z-index: 10;

      display: flex;
      align-items: center;
      @include respond(phone) {
        padding: 1rem 2rem;
      }
  }
}

.logo-container{
  margin-top:1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.logo {
  height: 5rem; 
  box-shadow: 0 .2rem .2rem rgba($color-black, .4);
}


/* Color/shape of close button cross */
.bm-cross {
  display: none;
}

/* General sidebar styles */
.bm-menu {
  padding: 2.5em 1.5em ;
  font-size: 1.15em;
}

#header .index-link {
  z-index: 3;
}

#header .main .close-menu {
  border: 0;
  z-index: 10000;
}

#header .main .open-menu {
  border: 0;
}

.open-menu{
position: fixed;
right: 0;
top: 10px;
border: none;
}

.close-menu{
position: fixed;
right: 0;
top: 10px;
z-index: 9999;
border-left: 0;
}

.hamburger-container  {
display: block;
position: relative;
}

.hamburger-ul{
  // height: 70vh;
  // background-image: linear-gradient(
  //   to right bottom,
  //   rgba($color-primary-dark, 1),
  //   rgba($color-primary-light, 1)); 
  padding: 2rem 1rem;
  margin-top: 1.5rem;

}

.hamburger-li{
  font-size: 1.6rem;
}

.menu{
  color: $color-secondary-light;
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem 3rem;
}

.drawer-container{
  height: 70vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-dark, 1),
    rgba($color-primary-light, 1)); 
}