
.cardMargin{
  margin: 1rem;
  }

    .buttons-container{
      margin: 1rem;
    }

    .button-filter{
        &,
        &:link,
        &:visited {
          margin: 1rem;
            text-transform: uppercase;
            text-decoration: none;
            padding: 1rem 2rem;
            display: inline-block;
            color: $color-secondary-dark;
          border: 1px solid $color-secondary-dark;
          background-color: $color-grey-light-1;
    
          @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
              -webkit-clip-path: polygon(0% 10%, 10% 0%, 100% 0%, 100% 90%, 90% 100%, 0 100%);
              clip-path: polygon(0% 10%, 10% 0%, 100% 0%, 100% 90%, 90% 100%, 0 100%);
          }
    
            transition: all .3s;
            position: relative;
            font-size: $default-font-size;
            cursor: pointer;
        }
        
        &:hover {
            border: none;
            color: $color-white;
            background-color: $color-secondary-light;
            box-shadow: 0 1rem 1rem rgba($color-black,.4);
            @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
                -webkit-clip-path: none;
                clip-path: none;
            }  
        }
        
        &:active,
        &:focus {
            border: none;
            outline: none;
            color: $color-tertiary-dark;
            box-shadow: 0 .5rem 1rem rgba($color-black,.4);
            background-color: $color-secondary-light;
            @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
                -webkit-clip-path: none;
                clip-path: none;
            }
        } 
    }