
.skills-list {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 10px;
  }

  @include respond(tab-port) {
    .skills-list {
      grid-template-columns: 1fr;
    }
}

@include respond(tab-land) {
  .skills-list {
    grid-template-columns: 1fr 1fr;
  }
}
