.tablebox-box {
  cursor: pointer;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;


  animation-name: opacity;
  animation-duration: 1s;
  animation-timing-function: ease-out;

    color:$color-primary-dark;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 22rem;
    padding: 1rem 0rem 1rem 1rem;
    font-size: 1.3rem;
    position: absolute;
     left: 33vw;
     top: 8vh;
 
    transform: translate(-50%, -50%);
    text-align: start;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-light-1, 0.3),
      rgba($color-grey-light-2, 0.3));
      
      @include respond(big-desktop) {
        top: 6vh;
        left:36vw;
      }
      @include respond(tab-land) {
        clip-path:none;
        top: 10vh;
        left:60vw;
    
    }
    @include respond(tab-port) {
      clip-path:none;
      top: 65vh;
      left: 70%;

      width: 20rem;
      padding: .5rem 0rem .5rem .5rem;
      font-size: 1rem;
  }
}

.tablebox-box:hover {
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.4);
}

.d-link:hover{
color: $color-tertiary-dark;
}