.about-page{
  background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, .7),
        rgba($color-primary-dark, .7));
        height: auto;
        width: auto;
}
.header-bg{
        margin-top: -1rem;

        @include respond(phone) {
          height: 100vh;
        }
        @include respond(tab-port) {
          height: 100vh;
        }

.header {
    position: relative;
    margin: 2rem;
  background-image: 
  url(../../../img/my.jpg);
  background-size: cover;
  background-position: top;
 
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: polygon(0% 10%, 10% 0%, 100% 0%, 100% 90%, 90% 100%, 0 100%);
      clip-path: polygon(0% 10%, 10% 0%, 100% 0%, 100% 90%, 90% 100%, 0 100%);
      height: 80vh;
  }

  @include respond(phone) {
    margin: 1rem;
  }
  @include respond(tab-port) {
    margin: 1rem;
  }

  &__text-box {
      padding: 1rem;
      position: absolute;
      top: 32vh;
      left: 6vw;
      transform: translate(-50%, -50%);
      text-align: center;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-grey-dark, .3),
        rgba($color-grey-dark-3, .3));
        writing-mode:vertical-rl;
        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: polygon(0% 10%, 10% 0%, 100% 0%, 100% 85%, 85% 100%, 0 100%);
            clip-path: polygon(0% 10%, 10% 0%, 100% 0%, 100% 90%, 90% 100%, 0 100%); 
        }
        @include respond(phone) {
         clip-path: none;
       }
       @include respond(tab-port) {
        clip-path: none;
        top: 35vh;
        left: 14%;
      }
      @include respond(big-desktop) {
        top: 38vh;
      left: 26vw;
      }
     
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    color: $color-white;
    position: absolute;
    top: 45rem;
    right: 0rem;
    width: 100%;
    

    &-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .85), 
            rgba($color-primary-dark, .85));
        }
    }
}
}

.border-title{
    margin: 2rem;
    border: 1px solid $color-white;

  @include respond(phone) {
     margin: 1rem;
  }
}
}
