@import "../sass/main";

.left-area{


     border: 1px solid $color-primary;
    // background-image: linear-gradient(
    //   to right bottom,
    //   rgba($color-secondary-light, 1),
    //   rgba($color-secondary-dark, 1));

      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0% 5%, 5% 0%, 100% 0%, 100% 95%, 95% 100%, 0 100%);
        clip-path: polygon(0% 5%, 5% 0%, 100% 0%, 100% 95%, 95% 100%, 0 100%);
      height: 80vh;
  }
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $color-white;
    // color:$color-grey-dark-3;
}
.bg-container{
    //  margin:1rem;
    
     padding: 2rem;
    background-color: rgba($color-grey-dark, .3);
    // transform: skewX(-12deg);
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0% 5%, 5% 0%, 100% 0%, 100% 95%, 95% 100%, 0 100%);
        clip-path: polygon(0% 5%, 5% 0%, 100% 0%, 100% 95%, 95% 100%, 0 100%);}
        height: 80vh;
        width: 100%;
}
.text-container{
    color: $color-grey-dark-3;
    // transform: skewX(12deg);

}



.button-container{
    display: flex;
}



.button{
    &,
    &:link,
    &:visited {
      margin: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2rem;
        display: inline-block;
        color: $color-grey-dark-3;
      border: 1px solid $color-secondary-dark;

      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
          -webkit-clip-path: polygon(0% 10%, 10% 0%, 100% 0%, 100% 90%, 90% 100%, 0 100%);
          clip-path: polygon(0% 10%, 10% 0%, 100% 0%, 100% 90%, 90% 100%, 0 100%);
  
      }

        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        cursor: pointer;
    }
    
    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black,.4);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        // transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.4);
        background-color: $color-secondary-light;
    }


    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
  }

  .icon{
    &,
    &:link,
    &:visited {
      margin: .5rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: .6rem 1.2rem;
      
        display: inline-block;
        color: $color-grey-dark-3;
      border: 1px solid $color-secondary-dark;

      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
          -webkit-clip-path: polygon(0% 10%, 10% 0%, 100% 0%, 100% 90%, 90% 100%, 0 100%);
          clip-path: polygon(0% 10%, 10% 0%, 100% 0%, 100% 90%, 90% 100%, 0 100%);
  
      }

        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        cursor: pointer;
    }
 
    &:active,
    &:focus {
        outline: none;
        box-shadow: 0 .5rem 1rem rgba($color-black,.4);
        background-color: $color-secondary-light;
    }

  }

  .left-img-container{
position: relative;

  }

  .left-img-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
}

.left-img{
    height: 30vmin;
    border-radius: 50%;
    margin: 1rem;
    cursor:pointer;
    transform:  scale(1);
    backface-visibility: hidden;
    transition: all .5s;
    box-shadow: 0 1rem 2rem rgba($color-black,.4);
}

.left-img-container:hover .left-img-name {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.left-img-container:hover .left-img {
    transform:  scale(.8);
    filter: blur(3px) brightness(80%);
}