@import "../sass/variables";

.left-area{
    background-color: $color-tertiary-light;
    border: 1px solid $color-tertiary-dark;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.photoContainer{
    height: 30vmin;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom:1rem;
    cursor:pointer;
}